<h2>เกี่ยวกับเรา</h2>
<hr />
<h3>ประวัติร้าน</h3>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <p>
      ครบจบทุกเมนูคาว หวาน รวมถึงเครื่องดื่ม เเละขนมหวาน พวกเราดีใจที่ได้ส่งมอบความอร่อยของอาหารในรูปแบบโฮมมี่สไตล์ (รสอาหารของที่บ้าน) โดยผสมผสานวัฒนธรรม ของอาหารเเต่ละชาติเข้าด้วยกัน ซึ่งอาหารในร้านของพวกเรานั้นเป็นแบบเดียวกัน กับที่พวกเราทำกินกันเองที่บ้าน และทุกจานในเมนูอาหารของร้านเรา ได้เตรียมวัตถุดิบเเบบเดียวกันกับ อาหารสำหรับครอบครัวของเรา
     พวกเรามีความฝันและเป้าหมายที่อยากจะเเบ่งปันรสชาติความอร่อยของอาหาร ในรูปแบบของครอบครัวเรา ผ่านเเต่ละเมนูที่คุณเลือกทานจากร้านเรา ซึ่งเราหวังเป็นที่สุด ที่จะได้ให้บริการคุณในเร็วๆนี้
    </p>
    
  </div>
</div>
<h3>พนักงานของเรา</h3>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">Blue the Dragon slayer</div>
            <p class="card-text">
              พนักงานดีเด่นประจำร้าน
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
