<h2>เมนูเด็ดของทางร้าน</h2>
<hr />
<h4>อาหารคาว</h4>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">สเต็ก</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">สปาเกตตี้</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ของทอด</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">อาหารจานเดี่ยว</div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<h4>ของหวาน</h4>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">พาร์เฟ่ต์</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ไอศกรีม</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">โทสต์</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ปังเย็น</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h4>เครืองดื่ม</h4>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">เครืองดื่ม</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">น้ำผลไม้</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ไวน์/เหล้า</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">เบียร์</div>
            
          </div>

